body {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
}

input {
  box-sizing: border-box;
  width: 100%;
}

textarea {
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
}

.section {
  background-color: #3f3f3f;
  position: relative;
}

.splash {
  background: #fff;
}

.splash .outer-wrapper {
  text-align: center;
}

.splash .inner-wrapper {
  display: inline-block;
  font-weight: 300;
  margin-bottom: 100px;
  padding-top: 50px;
  text-align: left;
  width: 600px;
}

.splash h1 {
  font-size: 40px;
  font-weight: 300;
}

.splash h2 {
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 24px;
  letter-spacing: 1px;
  color: #3f3f3f;
}

.splash h3 {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.splash h3 span {
  color: #000;
  padding-left: 10px;
}

.splash h4 {
  font-weight: 100;
}

.splash button {
  display: inline;
  background: none;
  border-radius: 4px;
  color: #333;
  border-color: #333;
  padding: 6px 20px;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
  margin-right: 30px;
  width: 100%;
  margin-top: 20px;
}

.splash input {
  background: none;
  border: 1px solid #ccc;
  color: #333;
  font-size: 16px;
  font-weight: 200;
  padding: 4px;
}

.splash .field {
  margin-top: 10px;
}

.splash .brand-wrapper {
  margin-bottom: 30px;
}

.splash .network-wrapper {
  margin-bottom: 50px;
}

.splash .network-wrapper>div {
  padding-bottom: 20px;
}

.network-wrapper .form-wrapper {
  margin-bottom: 100px;
}

.item-preview {
  text-align: center;
}

.item-preview img {
  border: 1px solid #000;
  box-shadow: 1px 1px 3px 0px #333;
  width: 100%;
}

.item-meta {
  padding: 10px;
}

.item-meta>div {
  padding: 4px;
}

.item-name {
  font-size: 22px;
  font-weight: 900;
}

.item-cost {
  font-size: 14px;
  font-weight: 300;
}

.bank>div {
  padding-bottom: 20px;
}

.bank span {
  font-weight: 400;
}

.shop>div {
  padding-bottom: 20px;
}

.shop .the-shop {
  width: 100%;
  height: 500px;
  background-image: url(./images/shop.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.shop span {
  font-weight: 400;
}